<div style="text-align: center;
            width: 50%;
            margin-left: 25%;
            margin-top: 5em;">
<form formGroupName="form" novalidate (ngSubmit)="onSubmit()">
    <div  class="form-group">
        <label for="firstName">Name</label>
        <input required ngModel name="firstName" #firstName="ngModel" type="firstName" class="form-control" id="firstName"  placeholder="Name" >
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required!</div>
      </div>
      <div class="form-group">
        <label for="Surename">Surname</label>
        <input required ngModel name="Surename" #Surename="ngModel" type="Surname" class="form-control" id="Surename" placeholder="Surname" >
        <div class="alert alert-danger" *ngIf="Surename.touched && !Surename.valid">Sure Name is required!</div>
      </div>
      <div class="form-group">
        <label for="Birth">Birthdate</label>
        <input required ngModel name="Birth" #Birth="ngModel" type="Birth" class="form-control" id="exampleInputBurth"  placeholder="DD-MM-YYYY" >
        <div class="alert alert-danger" *ngIf="Birth.touched && !Birth.valid">Birthdate is required!</div>
      </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input required ngModel name="email" #email="ngModel"  type="email" class="form-control" id="email"  placeholder="E-mail" >
    </div>
    <div class="form-group">
      <label for="Number">Phonenumber</label>
      <input ngModel name="Number" #Number="ngModel" type="Number" class="form-control" id="Number" placeholder="Phonenumber" >
      <div class="alert alert-danger" *ngIf="Number.touched && !Number.valid">Number is required!</div>
    </div>
    <div class="form-check">
        <input ngModel name="checkbox" #checkbox="ngModel" type="checkbox" class="form-check-input" id="Check">
        <label class="form-check-label" for="Check">I agree to the <a href="#">terms and conditions</a></label>
      </div>
    <button  type="Submit" class="btn btn-primary">Submit</button>
  </form>
</div> 

